# MySQL Database configuration
MYSQL_HOST=mysql
MYSQL_DATABASE=magento_db
MYSQL_USER=magento_user
MYSQL_PASSWORD=magento_password
MYSQL_RANDOM_ROOT_PASSWORD=1
MYSQL_PREFIX=mage_

# Redis configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CACHE_DB=1
REDIS_FPC_DB=2

# AppSearch configuration
#CONFIG__DEFAULT__CATALOG_SEARCH_ENGINE=elastic_appsearch
#CONFIG__DEFAULT__ELASTIC_APPSEARCH__CLIENT__API_ENDPOINT=https://host-changeme
#CONFIG__DEFAULT__ELASTIC_APPSEARCH__CLIENT__PRIVATE_API_KEY=private-changeme
#CONFIG__DEFAULT__ELASTIC_APPSEARCH__CLIENT__SEARCH_API_KEY=search-changeme
#CONFIG__DEFAULT__ELASTIC_APPSEARCH__CLIENT__ENGINE_PREFIX=magento2
