<?xml version="1.0"?>
<!--
/*
 * This file is part of the App Search Magento module.
 *
 * (c) Elastic
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @package   Elastic\AppSearch
 * @copyright 2019 Elastic
 * @license   Open Software License ("OSL") v. 3.0
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Elastic\AppSearch\Client\ClientConfigurationInterface" type="Elastic\AppSearch\Client\ClientConfiguration" />

    <preference for="Elastic\AppSearch\Model\Adapter\EngineInterface" type="Elastic\AppSearch\Model\Adapter\Engine" />
    <preference for="Elastic\AppSearch\Model\Adapter\EngineResolverInterface" type="Elastic\AppSearch\Model\Adapter\EngineResolver" />
    <preference for="Elastic\AppSearch\Model\Adapter\EngineManagerInterface" type="Elastic\AppSearch\Model\Adapter\EngineManager" />

    <preference for="Elastic\AppSearch\Model\Adapter\Engine\SchemaInterface" type="Elastic\AppSearch\Model\Adapter\Engine\Schema" />
    <preference for="Elastic\AppSearch\Model\Adapter\Engine\SchemaResolverInterface" type="Elastic\AppSearch\Model\Adapter\Engine\SchemaResolver" />
    <preference for="Elastic\AppSearch\Model\Adapter\Engine\Schema\BuilderInterface" type="Elastic\AppSearch\Model\Adapter\Engine\Schema\Builder" />
    <preference for="Elastic\AppSearch\Model\Adapter\Engine\Schema\FieldNameResolverInterface" type="Elastic\AppSearch\Model\Adapter\Engine\Schema\FieldName\DefaultResolver" />

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="elastic_appsearch/client/api_key" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="elastic_appsearch/client/api_endpoint" xsi:type="string">1</item>
                <item name="elastic_appsearch/client/is_debug" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic App Search</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Magento\Elasticsearch\Model\ResourceModel\Engine</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">elastic_appsearch</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic\AppSearch\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Indexer\IndexStructureFactory">
        <arguments>
            <argument name="structures" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic\AppSearch\Model\Indexer\IndexStructure</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\Model\Adapter\Engine\SchemaResolver">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Elastic\AppSearch\Model\Adapter\Engine\Schema\Product\SchemaProvider</item>
            </argument>
        </arguments>
    </type>

     <virtualType name="Elastic\AppSearch\Model\Adapter\Engine\Schema\Product\SchemaProvider" type="Elastic\AppSearch\Model\Adapter\Engine\Schema\CompositeSchemaProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="attributes" xsi:type="object">Elastic\AppSearch\Model\Adapter\Engine\Schema\Product\AttributeSchemaProvider\Proxy</item>
            </argument>
        </arguments>
     </virtualType>

     <type name="Elastic\AppSearch\Model\Adapter\Engine\Schema\Product\AttributeSchemaProvider">
          <arguments>
              <argument name="fieldNameResolver" xsi:type="object">Elastic\AppSearch\Model\Adapter\Engine\Schema\FieldNameResolverInterface</argument>
          </arguments>
     </type>

</config>
