<?xml version="1.0"?>
<!--
/*
 * This file is part of the App Search Magento module.
 *
 * (c) Elastic
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @package   Elastic\AppSearch\CatalogSearch
 * @copyright 2019 Elastic
 * @license   Open Software License ("OSL") v. 3.0
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\QueryLocatorInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\QueryLocator" />
    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\SearchParamsProviderInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\SearchParamsProvider" />
    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Fulltext\QueryTextResolverInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Fulltext\QueryTextResolver" />
    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\QueryFilterBuilderInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\QueryFilterBuilder" />
    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\FilterBuilderInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\FilterBuilder" />
    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Facet\FacetBuilderInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Facet\FacetBuilder" />
    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\RequestExecutor\Response\ProcessorInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\RequestExecutor\Response\Processor" />
    <preference for="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\RescorerResolverInterface" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\RescorerResolver" />

    <type name="Magento\Search\Model\Adminhtml\System\Config\Source\Engine">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic App Search</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\ResourceModel\EngineProvider">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Magento\Elasticsearch\Model\ResourceModel\Engine</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\EngineResolver">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">elastic_appsearch</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Search\Model\AdapterFactory">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic\AppSearch\CatalogSearch\SearchAdapter\Adapter</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Indexer\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic\AppSearch\CatalogSearch\Model\Indexer\IndexerHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Indexer\IndexStructureFactory">
        <arguments>
            <argument name="structures" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic\AppSearch\CatalogSearch\Model\Indexer\IndexStructure</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\Framework\AppSearch\Engine\SchemaResolver">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\Product\SchemaProvider</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\Product\SchemaProvider" type="Elastic\AppSearch\Framework\AppSearch\Engine\Schema\CompositeSchemaProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="base" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\Product\BaseSchemaProvider\Proxy</item>
                <item name="attributes" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\Product\AttributeSchemaProvider\Proxy</item>
                <item name="price" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\Product\PriceSchemaProvider\Proxy</item>
                <item name="categories" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\Product\CategorySchemaProvider\Proxy</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Elastic\AppSearch\CatalogSearch\AppSearch\Product\Engine\Field\FieldMapper" type="Elastic\AppSearch\Framework\AppSearch\Engine\Field\FieldMapper">
        <arguments>
            <argument name="attributeAdapterProvider" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\AttributeAdapterProvider</argument>
            <argument name="fieldNameResolver" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Engine\Schema\FieldName\DefaultResolver</argument>
        </arguments>
    </virtualType>

    <type name="Elastic\AppSearch\Framework\AppSearch\Engine\Field\FieldMapperResolver">
        <arguments>
            <argument name="fieldMappers" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Elastic\AppSearch\CatalogSearch\AppSearch\Product\Engine\Field\FieldMapper</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\Framework\AppSearch\Document\BatchDataMapperResolver">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Document\BatchDataMapper\Product</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\Model\Adapter\Document\BatchDataMapper\Product">
        <arguments>
            <argument name="attributeMapper" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Document\BatchDataMapper\Product\AttributeMapper</argument>
            <argument name="additionalDataProviders" xsi:type="array">
                <item name="categoryData" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Document\BatchDataMapper\Product\CategoryDataProvider</item>
                <item name="priceData" xsi:type="object">Elastic\AppSearch\CatalogSearch\Model\Adapter\Document\BatchDataMapper\Product\PriceDataProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\RescorerResolver">
        <arguments>
            <argument name="rescorers" xsi:type="array">
                <item name="default" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Rescorer\DefaultRescorer</item>
                <item name="catalog_view_container" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Rescorer\Product\CategoryPositionRescorer</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\QueryLocator\CategoryFilter" type="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\QueryLocator">
        <arguments>
          <argument name="queryName" xsi:type="string">category</argument>
        </arguments>
    </virtualType>

    <type name="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Rescorer\Product\CategoryPositionProvider">
        <arguments>
          <argument name="queryLocator" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\QueryLocator\CategoryFilter</argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\SearchParamsProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="page" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Page\SearchParamsProvider</item>
                <item name="filters" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\SearchParamsProvider</item>
                <item name="search_fields" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Fulltext\SearchParamsProvider</item>
                <item name="facets" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Facet\SearchParamsProvider</item>
                <item name="sorts" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Sort\SearchParamsProvider</item>
                <item name="analytics" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Analytics\SearchParamsProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\QueryFilterBuilder">
        <arguments>
            <argument name="builderFactories" xsi:type="array">
                <item name="boolQuery" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\QueryFilter\BoolQueryFilterBuilderFactory</item>
                <item name="matchQuery" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\QueryFilter\MatchQueryFilterBuilderFactory</item>
                <item name="filteredQuery" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\QueryFilter\FilteredQueryFilterBuilderFactory</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\FilterBuilder">
        <arguments>
            <argument name="builderFactories" xsi:type="array">
                <item name="boolFilter" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\Filter\BoolFilterBuilderFactory</item>
                <item name="termFilter" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\Filter\TermFilterBuilderFactory</item>
                <item name="rangeFilter" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\Filter\RangeFilterBuilderFactory</item>
                <item name="wildcardFilter" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\Request\Filter\Filter\WildcardFilterBuilderFactory</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\SearchAdapter\RequestExecutor\Response\Processor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="facets" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\RequestExecutor\Response\FacetProcessor</item>
                <item name="rescorer" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\RequestExecutor\Response\RescorerProcessor</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\SearchAdapter\RequestExecutor\Response\FacetProcessor">
        <arguments>
            <argument name="algorithms" xsi:type="array">
                <item name="auto" xsi:type="object">Elastic\AppSearch\CatalogSearch\SearchAdapter\RequestExecutor\Response\Facet\Algorithm\Auto</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\CollectionFactory" type="Magento\Catalog\Model\ResourceModel\Product\CollectionFactory">
        <arguments>
            <argument name="instanceName" xsi:type="string">Elastic\AppSearch\CatalogSearch\Model\ResourceModel\Product\Fulltext\Collection</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\CatalogSearch\Model\ResourceModel\Fulltext\SearchCollection" type="Elastic\AppSearch\CatalogSearch\Model\ResourceModel\Product\Fulltext\Collection">
        <arguments>
            <argument name="searchRequestName" xsi:type="string">quick_search_container</argument>
        </arguments>
    </virtualType>

    <type name="Magento\AdvancedSearch\Model\SuggestedQueries">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Magento\AdvancedSearch\Model\DataProvider\Suggestions</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\CatalogSearch\Model\Search\RequestGenerator">
        <plugin name="elastic_app_search_custom_request" type="Elastic\AppSearch\CatalogSearch\Plugin\Model\Search\RequestGeneratorPlugin" />
    </type>

    <type name="Magento\Search\Model\ResourceModel\SynonymGroup">
        <plugin name="synonym_group_indexing" type="Elastic\AppSearch\CatalogSearch\Model\Indexer\Synonym\Plugin\SynonymGroupPlugin" />
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\Model\Indexer\Synonym\Indexer">
        <arguments>
            <argument name="dimensionProvider" xsi:type="object" shared="false">Magento\Store\Model\StoreDimensionProvider</argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\Model\Indexer\Synonym\IndexerHandlerFactory">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="elastic_appsearch" xsi:type="string">Elastic\AppSearch\CatalogSearch\Model\Indexer\Synonym\IndexerHandler</item>
            </argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\CatalogSearch\Model\Indexer\Synonym\IndexerHandler">
        <arguments>
            <argument name="engines" xsi:type="array">
                <item name="catalogsearch_fulltext" xsi:type="string">catalogsearch_fulltext</item>
            </argument>
        </arguments>
    </type>

</config>
