<?xml version="1.0"?>
<!--
/*
 * This file is part of the App Search Magento module.
 *
 * (c) Elastic
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @package   Elastic\AppSearch\Search
 * @copyright 2019 Elastic
 * @license   Open Software License ("OSL") v. 3.0
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Elastic\AppSearch\Framework\AppSearch\Client\ClientConfigurationInterface" type="Elastic\AppSearch\Framework\AppSearch\Client\ClientConfiguration" />
    <preference for="Elastic\AppSearch\Framework\AppSearch\Client\ConnectionManagerInterface" type="Elastic\AppSearch\Framework\AppSearch\Client\ConnectionManager" />

    <preference for="Elastic\AppSearch\Framework\AppSearch\EngineInterface" type="Elastic\AppSearch\Framework\AppSearch\Engine" />
    <preference for="Elastic\AppSearch\Framework\AppSearch\EngineResolverInterface" type="Elastic\AppSearch\Framework\AppSearch\EngineResolver" />
    <preference for="Elastic\AppSearch\Framework\AppSearch\EngineManagerInterface" type="Elastic\AppSearch\Framework\AppSearch\EngineManager" />

    <preference for="Elastic\AppSearch\Framework\AppSearch\Engine\SchemaInterface" type="Elastic\AppSearch\Framework\AppSearch\Engine\Schema" />
    <preference for="Elastic\AppSearch\Framework\AppSearch\Engine\SchemaResolverInterface" type="Elastic\AppSearch\Framework\AppSearch\Engine\SchemaResolver" />
    <preference for="Elastic\AppSearch\Framework\AppSearch\Engine\Schema\BuilderInterface" type="Elastic\AppSearch\Framework\AppSearch\Engine\Schema\Builder" />

    <preference for="Elastic\AppSearch\Framework\AppSearch\Engine\Field\FieldTypeResolverInterface" type="Elastic\AppSearch\Framework\AppSearch\Engine\Field\FieldTypeResolver" />

    <preference for="Magento\Search\Api\SearchInterface" type="Elastic\AppSearch\Search\Model\Search" />

    <type name="Elastic\AppSearch\Framework\AppSearch\Engine\LanguageResolver">
        <arguments>
            <argument name="scopeType" xsi:type="const">Magento\Store\Model\ScopeInterface::SCOPE_STORE</argument>
        </arguments>
    </type>

    <type name="Elastic\AppSearch\Search\Model\Search">
        <arguments>
            <argument name="searchResponseBuilder" xsi:type="object">Elastic\AppSearch\Framework\Search\SearchResponseBuilder</argument>
        </arguments>
    </type>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="elastic_appsearch/client/private_api_key" xsi:type="string">1</item>
                <item name="elastic_appsearch/client/search_api_key" xsi:type="string">1</item>
            </argument>
            <argument name="environment" xsi:type="array">
                <item name="elastic_appsearch/client/api_endpoint" xsi:type="string">1</item>
                <item name="elastic_appsearch/client/is_debug" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

</config>
